@model ProjetoLavacao.Models.CarroCliente
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Id</h2>
<h2>@Model.Marca</h2>
<h2>@Model.Modelo</h2>
<h2>@Model.Cor</h2>
<h2>@Model.Placa</h2>
